/* @override http://localhost:8081/css/date_input.css */

/* Some resets for compatibility with existing CSS */
.date_selector, .date_selector * {
	width: auto;
	height: auto;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: normal;
}
.date_selector {
	background: #f2f3f4;
	border: 1px solid #b2b2b2;
	padding: 5px;
	margin: -1px 0 0 0;
	position: absolute;
	z-index: 100000;
	display: none;
}
.date_selector_ieframe {
	position: absolute;
	z-index: 99999;
	display: none;
}
.date_selector .month_nav, .date_selector .year_nav {
	margin: 0 0 3px 0;
	padding: 0;
	display: block;
	position: relative;
	text-align: center;
}
.date_selector .month_nav {
    width: 60%;
    margin: auto;
}
.date_selector .year_nav {
	width: 50%;
	margin: auto;
	margin-bottom: 0.4em;
}
.date_selector .month_name, .date_selector .year_name {
	font-size: 1em;
    line-height: 20px;
    font-weight: bold;
}
.date_selector .button {
	font-weight: normal;
    display: block;
    position: absolute;
    top: 0;
    width: 0.5em;
    height: 1em;
    line-height: 0.6em;
    text-align: center;
    font-size: 1.5em;
    overflow: hidden;
}
.date_selector .button:hover, .date_selector .button.hover {
	background: none;
	cursor: pointer;
	text-decoration: underline;
}
.date_selector .prev {
	left: 0;
}
.date_selector .next {
    right: 0;
}
.date_selector table {
    border-spacing: 0;
    border-collapse: collapse;
    clear: both;
}
.date_selector th, .date_selector td {
	width: 2.5em;
	height: 1.5em;
	padding: 0;
	text-align: center;
	font-weight: bold;
}
.date_selector td {
	border: 1px solid #ccc;
	line-height: 2em;
	text-align: center;
	white-space: nowrap;
	color: #666;
	font-weight: normal;
	background: rgba(255,255,255,0.6);
}
.date_selector td.today {
	background: #eaebec;
}
.date_selector td.unselected_month {
	color: #ccc;
}
.date_selector td.selectable_day {
	cursor: pointer;
}
.date_selector td.selected {
	background: #eaebec;
}
.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover {
	background: rgba(235, 241, 251, 1.0);
}
