/* @override file:///Users/pants/Desktop/style.css */

/* @group Reset */

/* v1.0 | 20080212 | meyerweb CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym,
 address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, ul, dl, dt, dd, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********** End of Reset **************/

/* @end */

html {
	background: rgba(235, 241, 251, 1.0);
}

body {
	font-size: 16px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: auto;
	margin-top: 80px;
	width: 600px;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.5em;
	color: rgba(0,0,0,0.6);
}

a.cal {
	opacity: 0.6;
}

a.cal:hover {
	opacity: 1;
}

textarea {
	width: 584px;
	font: 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, 
	sans-serif;
	padding: 0.5em;
	line-height: 1.3em;
	background-color: rgba(255,255,255,0.6);
	border-color: rgba(0,0,0,0.1);
	
}

textarea:focus {
	outline: none;
	border-color: rgba(0,0,0,0.3);
}

input[type=submit] {
	font-size: 0.8em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	float: right;
	background: none;
	color: rgba(0,0,0,0.3);
	border: none;
	outline: none;
}

input[type=submit]:focus, input[type=submit]:hover {
	color: rgba(0,0,0,0.6);
	text-decoration: underline;
	cursor: pointer;
}

nav {
	font-size: 0.8em;
	color: rgba(0,0,0,0.3);
}

nav a, nav a:link, nav a:visited {
	text-decoration: none;
	color: rgba(0,0,0,0.3);
}

nav a:hover {
	text-decoration: underline;
	color: rgba(0,0,0,0.6);
}